.product-list {
  .container_eshop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 16px;

    margin: 20vh 5vh 0vh 5vh;
  }
}

.product {
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
  color: #000;
  border-radius: 10px;
  text-decoration: none;
  height: 40vh;
  align-items: center;
  display: inline-block;

  &__image {
    max-width: 100%;
    max-height: 70%;
  }
}
.product-list {
  height: calc(100vh);
}
.detailInfo {
  width: 100vw;
  height: 88vh;
  min-height: 100%;
}
.basicInformation {
  background-color: lightblue;
  width: 50vw;
  height: 300px;
  margin-right: 2vh;
  align-items: center;
  margin-top: 10vh;
  border-radius: 15px 15px;
  border: white solid 3px;
  position: inherit;
  float: right;
  .description {
    margin-top: 15vh;
  }
}

.image {
  width: 40vw;
  height: 60vh;
  border-radius: 15px 15px;
  display: inline;
  max-width: 100%;
  max-height: 100%;
}
.imagePart {
  margin-top: 10vh;
}
